{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=localhost\\SQLExpress; Initial Catalog=AdminIPBG_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Rows",
                    "Identifier": "Rows",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Rows"
                },
                {
                    "Tablename": "dbo.Projectors",
                    "Identifier": "Projectors",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Projectors"
                },
                {
                    "Tablename": "dbo.Phases",
                    "Identifier": "Phases",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Phases"
                },
                {
                    "Tablename": "dbo.Parts",
                    "Identifier": "Parts",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Parts"
                },
                {
                    "Tablename": "dbo.Clients",
                    "Identifier": "Clients",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Clients"
                },
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Roles",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RowDetails",
                    "Identifier": "RowDetails",
                    "Module": "Rows",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Rows"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\AdminIPBG\\AdminIPBG.Web\\AdminIPBG.Web.csproj",
    "RootNamespace": "AdminIPBG",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": true,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": true,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}