
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Rows.Projectors.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdminIPBG.Rows.ProjectorsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>