<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://doctracker.s2kdesign.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://doctracker.s2kdesign.com:8172/msdeploy.axd?site=s2kdesign-001-subsite10</MSDeployServiceURL>
    <DeployIisAppPath>s2kdesign-001-subsite10</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\s2kdesign-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5035.SmarterASP.NET;Initial Catalog=DB_A0C86D_doctracker;User ID=DB_A0C86D_doctracker_admin;Password=svetlin90" Name="Data Source=SQL5035.SmarterASP.NET;Initial Catalog=DB_A0C86D_doctracker;User Id=DB_A0C86D_doctracker_admin;Password=svetlin90;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLExpress;Initial Catalog=AdminIPBG_Default_v1;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\SQLExpress; Initial Catalog=AdminIPBG_Default_v1; Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=SQL5035.SmarterASP.NET;Initial Catalog=DB_A0C86D_doctracker;User Id=DB_A0C86D_doctracker_admin;Password=svetlin90;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=SQL5035.SmarterASP.NET;Initial Catalog=DB_A0C86D_doctracker;User Id=DB_A0C86D_doctracker_admin;Password=svetlin90;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>